{% extends 'layout.html' %}

{% block head %} Register {% endblock %}

{% block body %}
    <h1> Welcome, {{ request.user.first_name }} </h1>

    <h2> Information </h2>
    <p> Name-Surname : {{ request.user.name }} {{ request.user.surname }} </p>
    <p> ID : {{ request.user.id }} </p>
    <p> Faculty : {{ request.user.faculty }} </p>
    
    

    <h3> List of Subjects </h3>
    <ul>
        {% for sub in request.user.subjects %}
            <li> {{sub}} </li>
        {% endfor %}
    </ul>

    <a href="{% url 'logout' %}"> Log Out </a>

{% endblock %}