{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
    <title>{% block head %}Register{% endblock %}</title>
</head>
<body>
    {% block body %}
    {% endblock %}
    <nav>
        <a href="{% url 'reg:Home' %}"> Home </a>
        <a href="{% url 'reg:Quota' %}"> Add Quota </a>
        <a href="{% url 'reg:Subject_page' %}"> Add/Delete Subject </a>
        <a href="{% url 'logout' %}"> Log Out </a>
    </nav>
</body>
</html>