{% extends 'layout.html' %}

{% load static %}

{% block head %} Login {% endblock %}

{% block style %}<link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock %}

{% block body %}

    <form class="login" action="{% url 'login' %}" method="post">
        <div class="container">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </div>
    </form>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

{% endblock %}